body{
    font-family: "Montserrat";
}

.header-light, .footer-light{
    display:flex;
    justify-content: space-around;
    background-color: 		#9394a5 ;
    padding: 30px;
    font-size: 20px;
}

.header-dark, .footer-dark{
    display:flex;
    justify-content: space-around;
    background-color: 		#000000;
    color:#a0a0a0;
    padding: 30px;
    font-size: 20px;
}

.container-light{
    display: flex;
    /* flex-direction: column; */
    background-color: 	#d2d3db;
    position:relative;
    /* padding: 100px; */
}

.container-dark{
    display: flex;
    /* flex-direction: column; */
    background-color: 	#1e1e1e;
    position:relative;
    /* padding: 100px; */
}

.dice{
    width: 1000px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    left: 20%;
  }
  
  .number-light{
    border: solid 3px black;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:70px;
    height: 70px;
    font-family: "Montserrat";
    background-color: #d2d3db;
  }

  .number-dark{
    border: solid 3px #a0a0a0;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:70px;
    height: 70px;
    font-family: "Montserrat";
    color: #a0a0a0;
    background-color: #1e1e1e;
  }
  
  .selected-light{
    border: solid 3px black;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:70px;
    height: 70px;
    font-family: "Montserrat";
    background-color: #8186ae;
  }

  .selected-dark{
    border: solid 3px #bb86fc;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:70px;
    height: 70px;
    font-family: "Montserrat";
    color: #1e1e1e;
    background-color: #bb86fc;
  }

  .roll-light{
    font-family: "Montserrat";
    height: 70px;
    width: auto;
    border: solid 3px black;
    border-radius:5px;
    background-color: #d2d3db;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
  
  }

  .roll-dark{
    font-family: "Montserrat";
    height: 70px;
    width: auto;
    border: solid 3px #a0a0a0;
    color: #a0a0a0;
    border-radius:5px;
    background-color: #1e1e1e;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
  
  }

  /* scoresheet  */

  .scoresheet{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
  }

  .upper-light, .lower-light{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px 50px 0px 50px;
    background-color: #d2d3db;
  }

  .upper-dark, .lower-dark{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px 50px 0px 50px;
    background-color: #1e1e1e;
    color:#a0a0a0
  }

  /* .upper-light > input, .lower-light > input {
    margin: 10px;
    padding: 10px;
  }

  .upper-dark > input, .lower-dark > input {
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color:#a0a0a0
  } */

  .score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border : solid 1px red */
  }

  .scoreText > h4 {
    margin: 0px
  }

  .selectBtnfalse-light {
    border: solid 3px black;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:70px;
    height: 70px;
    font-family: "Montserrat";
    background-color: #d2d3db;
  }

.selectBtntrue-light {
  display:none
}

.selectBtnfalse-dark {
  border: solid 1px #a0a0a0;
  border-radius:5px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:70px;
  height: 50px;
  font-family: "Montserrat";
  color: #a0a0a0;
  background-color: #1e1e1e;
}

.selectBtntrue-dark {
display:none
}